body{
	background-color: red;
}
.fatma{
	color: red;
	margin: 0 auto;
	
	max-width: 960px;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}


li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;

}
footer{
	height: -350px;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	padding-bottom: 0;

}
.contenttwo{
	background-color: #413827;
	text-align: center;
	padding: 10px;
	height: 87px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: orange;
}



}